#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #8b0000;
}
#navbar h2 {
  color: whitesmoke !important;
}
@media screen and (max-width: 767px) {
  /* Mobile */
  #navbar h2 {
    display: none;
  }
}
#navbar h2 a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #ffe589;
}

#navbar h2 a:hover {
  color: #ffc800;
  transition: 0.5s
}
#navbar form {
  display: flex;
  gap: 0.5rem;
}
#navbar input {
  padding: 0.2rem 0.8rem;
  border-radius: 4px;
  border: none;
}
#navbar form button {
  background-color: white;
  border-radius: 4px;
  color: #000;
  padding: 0.3rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
